In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

In [2]:
train_df = pd.read_csv('dataset/telstra/train.csv')
print 'train_df', train_df.shape
test_df = pd.read_csv('dataset/telstra/test.csv')
print 'test_df', test_df.shape
event_df = pd.read_csv('dataset/telstra/event_type.csv')
print 'event_df', event_df.shape
log_df = pd.read_csv('dataset/telstra/log_feature.csv')
print 'log_df', log_df.shape
resource_df = pd.read_csv('dataset/telstra/resource_type.csv')
print 'resource_df', resource_df.shape
severity_df = pd.read_csv('dataset/telstra/severity_type.csv')
print 'severity_df', severity_df.shape

train_df (7381, 3)
test_df (11171, 2)
event_df (31170, 2)
log_df (58671, 3)
resource_df (21076, 2)
severity_df (18552, 2)

In [3]:
# Set 'id' as index
train_df.set_index('id', drop=True, inplace=True)
test_df.set_index('id', drop=True, inplace=True)
event_df.set_index('id', drop=True, inplace=True)
log_df.set_index('id', drop=True, inplace=True)
resource_df.set_index('id', drop=True, inplace=True)
severity_df.set_index('id', drop=True, inplace=True)

In [4]:
train = pd.merge(train_df, event_df, left_index=True, right_index=True, how='inner')
train = pd.merge(train, resource_df, left_index=True, right_index=True, how='inner')
train = pd.merge(train, severity_df, left_index=True, right_index=True, how='inner')
train

,location,fault_severity,event_type,resource_type,severity_type
id,,,,,
1,location 601,1,event_type 11,resource_type 8,severity_type 1
1,location 601,1,event_type 11,resource_type 6,severity_type 1
1,location 601,1,event_type 13,resource_type 8,severity_type 1
1,location 601,1,event_type 13,resource_type 6,severity_type 1
5,location 460,0,event_type 34,resource_type 2,severity_type 2
5,location 460,0,event_type 35,resource_type 2,severity_type 2
6,location 332,1,event_type 34,resource_type 2,severity_type 2
8,location 243,0,event_type 34,resource_type 2,severity_type 2
8,location 243,0,event_type 35,resource_type 2,severity_type 2
13,location 418,0,event_type 35,resource_type 2,severity_type 2
13,location 418,0,event_type 34,resource_type 2,severity_type 2
19,location 644,1,event_type 42,resource_type 2,severity_type 1
19,location 644,1,event_type 44,resource_type 2,severity_type 1
20,location 79,0,event_type 54,resource_type 8,severity_type 2
20,location 79,0,event_type 54,resource_type 2,severity_type 2
20,location 79,0,event_type 54,resource_type 3,severity_type 2
20,location 79,0,event_type 11,resource_type 8,severity_type 2
20,location 79,0,event_type 11,resource_type 2,severity_type 2
20,location 79,0,event_type 11,resource_type 3,severity_type 2
20,location 79,0,event_type 10,resource_type 8,severity_type 2
20,location 79,0,event_type 10,resource_type 2,severity_type 2
20,location 79,0,event_type 10,resource_type 3,severity_type 2
23,location 257,0,event_type 35,resource_type 2,severity_type 2
23,location 257,0,event_type 34,resource_type 2,severity_type 2
24,location 367,0,event_type 35,resource_type 2,severity_type 4
26,location 238,0,event_type 35,resource_type 2,severity_type 4
27,location 793,0,event_type 11,resource_type 8,severity_type 1
28,location 889,0,event_type 11,resource_type 8,severity_type 2
29,location 505,0,event_type 34,resource_type 2,severity_type 2
29,location 505,0,event_type 35,resource_type 2,severity_type 2
...,...,...,...,...,...
18511,location 648,1,event_type 13,resource_type 6,severity_type 1
18511,location 648,1,event_type 13,resource_type 8,severity_type 1
18520,location 875,0,event_type 11,resource_type 8,severity_type 1
18524,location 834,1,event_type 11,resource_type 8,severity_type 1
18524,location 834,1,event_type 15,resource_type 8,severity_type 1
18524,location 834,1,event_type 54,resource_type 8,severity_type 1
18525,location 810,2,event_type 54,resource_type 8,severity_type 1
18525,location 810,2,event_type 15,resource_type 8,severity_type 1
18527,location 135,1,event_type 34,resource_type 2,severity_type 1
18527,location 135,1,event_type 20,resource_type 2,severity_type 1
18527,location 135,1,event_type 35,resource_type 2,severity_type 1
18528,location 1042,2,event_type 15,resource_type 8,severity_type 2
18530,location 756,0,event_type 11,resource_type 8,severity_type 1
18533,location 734,0,event_type 11,resource_type 8,severity_type 1
18533,location 734,0,event_type 15,resource_type 8,severity_type 1
18535,location 133,0,event_type 34,resource_type 2,severity_type 2
18535,location 133,0,event_type 35,resource_type 2,severity_type 2
18536,location 821,0,event_type 11,resource_type 8,severity_type 1
18536,location 821,0,event_type 15,resource_type 8,severity_type 1
18537,location 149,0,event_type 35,resource_type 2,severity_type 4
18538,location 1106,1,event_type 11,resource_type 8,severity_type 1
18539,location 147,0,event_type 20,resource_type 2,severity_type 1
18539,location 147,0,event_type 34,resource_type 2,severity_type 1
18539,location 147,0,event_type 35,resource_type 2,severity_type 1
18542,location 495,0,event_type 34,resource_type 2,severity_type 2
18542,location 495,0,event_type 35,resource_type 2,severity_type 2
18543,location 998,1,event_type 11,resource_type 8,severity_type 1
18548,location 278,0,event_type 34,resource_type 2,severity_type 2
18548,location 278,0,event_type 35,resource_type 2,severity_type 2
18550,location 12,0,event_type 11,resource_type 8,severity_type 1